/**** FLEX BOX/REMOTE VIDEOS ****/
.remote-vids {
  display: flex;
}

.remote-vids video{
  width: 100%;
  flex: 1 0 0;
  margin-top: 7px;
  max-height: 125px;
}

.videosContainer {
  position: fixed;
  background: #000;
  width: 100%;
  bottom: 0;
  max-height: 130px;
}

/*** PAGE STYLING ***/
html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  overflow: hidden;
}

header {
  background: transparent;
  /*background: url('../assets/polygon-7.jpg') 100px;*/
  position: fixed;
  width: 100%;
  z-index: 201;
}

nav {
  display: inline-block;
  float: right;
  margin: 5px 5px 0 0 ;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2em;
  color: #000;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  z-index: -100;
  display: inline;
}

/***  CANVAS POSITIONING ***/
#bg {
  position: absolute;
}

#whiteboard {
  position: absolute;
  /*put whiteboard in front*/
  z-index: 200;
}

/****NAV BUTTON STYLING*****/
nav button {
  background: #a2a2a2;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
nav button:hover {
 /*border-top-color: #94a8b5;*/
 /*background: #94a8b5;*/
 color: #2e262e;
}

nav button:active {
 /*border-top-color: #05ab8f;*/
 /*background: #05ab8f;*/
}

nav button:focus {
  outline: none;
}

/* SIDE DRAWER */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* adds animation for all transitions */
  
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
/* Makes sure that everything is 100% height */

html,
body {
  height: 100%;
  overflow: hidden;
}
/* gets the actual input out of the way; 
we're going to style the label instead */

#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0px;
  height: 50px;
  width: 50px;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}

/* adds our "hamburger" menu icon */
#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #8d8d8d;
  right: 13px;
  top: 18px;
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}

/* drawer menu pane - note the 0px width */
#drawer {
  position: fixed;
  top: 0;
  right: -100px;
  height: 100%;
  width: 100px;
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

/* checked styles (menu open state) */
#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 100px);
  background: rgba(255, 255, 255, 0.8);
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  right: 100px;
}

#drawer-toggle:checked ~ #drawer {
  right: 0px;
}

#drawer-toggle:checked ~ #page-content {
  margin-right: 100px;
}


/******** BUTTON STYLES ********/
/* to be changed */
.btn-undo {
 border-top: 1px solid #b3b3b3;
 background: #bec2d4;
 background: -webkit-gradient(linear, left top, left bottom, from(#0a5c58), to(#bec2d4));
 background: -webkit-linear-gradient(top, #0a5c58, #bec2d4);
 background: -moz-linear-gradient(top, #0a5c58, #bec2d4);
 background: -ms-linear-gradient(top, #0a5c58, #bec2d4);
 background: -o-linear-gradient(top, #0a5c58, #bec2d4);
 padding: 16.5px 33px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
 -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
 box-shadow: rgba(0,0,0,1) 0 1px 0;
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 color: white;
 font-size: 13px;
 text-decoration: none;
 vertical-align: middle;
}

div.btn-erase {
  height: 60px;
}

.btn-erase img {
  position: absolute;
  height: 40px;
  left: 40%;
}


.btn-tool:hover {
 border-top-color: #94a8b5;
 background: #94a8b5;
 color: #2e262e;
}
.btn-tool:active {
 border-top-color: #05ab8f;
 background: #05ab8f;
}

.new {
  position: absolute;
  right: 15px;
  top: 32%;
  width: 106px;
  height: 37px;
}


.pens {
  /*display: inline-block;*/
  position: absolute;
  left: 45%;
  top: 0;
  /*width: 100px;*/
}















input[type=checkbox] {
  visibility: hidden;
}
.palette {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  display: inline-block;
  margin: 5px 5px;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.palette label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
}

label[for=black] {
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

label[for=red] {
  background: -webkit-linear-gradient(top, #FF0000 0%, #FB0707 100%);
  background: -moz-linear-gradient(top, #FF0000 0%, #FB0707 100%);
  background: -o-linear-gradient(top, #FF0000 0%, #FB0707 100%);
  background: -ms-linear-gradient(top, #FF0000 0%, #FB0707 100%);
  background: linear-gradient(top, #FF0000 0%, #FB0707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#FB0707',GradientType=0 );
}

label[for=blue] {
  background: -webkit-linear-gradient(top, #0021e1 0%, #0094e1 100%);
  background: -moz-linear-gradient(top, #0021e1 0%, #0094e1 100%);
  background: -o-linear-gradient(top, #0021e1 0%, #0094e1 100%);
  background: -ms-linear-gradient(top, #0021e1 0%, #0094e1 100%);
  background: linear-gradient(top, #0021e1 0%, #0094e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0021e1', endColorstr='#0094e1',GradientType=0 );
}



.palette label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.palette label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}



.palette input[type=checkbox]:not(:checked) + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.palette #black:not(:checked) + label:after {
  background: black;
}

.palette #red:not(:checked) + label:after {
  background: darkred;
}

.palette #blue:not(:checked) + label:after {
  background: darkblue;
}


