<!DOCTYPE html>
<html ng-app='snapcast'>
  <head>
  <link rel="stylesheet" href="css/bootstrap-button.css">
    <link rel='stylesheet' href='css/boardstyle.css'>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="lrlYxzKrcP0sMQpLZa_vQ649gvl_o8ODf3m43CUt7oI" />

  </head>
  <body ng-controller='navCtrl'>
   <header>
    <h1>Snapcast.</h1>
    <nav >

      <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
      <label for="drawer-toggle" id="drawer-toggle-label"></label>
      <nav id="drawer">
            <ul>
              <li><button ><img class='twitterLogo' src = '../images/twitter-icon.png'><div class="twitterAPI"></div></button></li>
              <li><button id="screenShareButton" ng-disabled="shareDisabled"></button></li>
              <li><button id="faceShareButton" ng-disabled="shareDisabled"></button></li>
              <li><button id="toggleBg" ng-click="toggleBg()">Toggle Background</button></li>
              <li><button id="snapshot" ng-click="snapshot()">Snapshot</button></li>
              <li><button id="clear" ng-click="clear()">Clear Board</button></li>
              <li><a class="button" href="https://twitter.com/share?text=Come visit our page!" onclick="window.open(this.href);return false;">Share Board</a></li>
              <div ki-color-selector="['#000', '#D8E9F0', '#CF304F', '#563761', '#E77547', '#FFCD3C', '#0A6A74', '#153974']" color="selectedColor"></div>
              <input type="range" min="1" max="50" ng-model="selectedLineWidth"  class="lineWidthSelector" orient="vertical"/>
              <li>{{selectedLineWidth}}</li>
              <li>Brush Size</li>
            </ul>
         </nav>
    </nav>
   
  </header>

  <div ki-canvas options="{color: selectedColor, lineWidth: selectedLineWidth}"></div>


  <div ki-webrtc class="videosContainer">
    
        <div id="shareContainer" style='display:none; opacity:0;'>
      </div>
    <div class="remote-vids" id="remoteVideos">
      <div class='videoContainer'>
        <video id='localVideo'></video>
        </div>
      </div>
     

  </div>

</body>

<script src="https://simplewebrtc.com/latest-v2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="lib/jquery.event.drag-2.2.js"></script>

<script src='js/whiteboard.js'></script>
<!-- function to manage the invite button -->
<script src = "js/twitterAPI.js"></script>
<script src='js/webrtc.js'></script>
<script src='js/snapcast.js'></script>
<script src='js/navCtrl.js'></script>

</html>
<!--       <a href="https://twitter.com/share?text=Come visit our page!" onclick="window.open(this.href);return false;"><img src='https://g.twimg.com/about/feature-corporate/image/tweetbutton.png' style="width: 50px;"></a> -->
